@charset "utf-8";


/*Text and page setup*/


.indexContentWrapper{
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;

}

@media only screen and (max-width: 800px) {


  .indexContentWrapper {
  position: relative;
  margin-left: 0;
  z-index: 100;
}
}