@charset "utf-8";

.sidebar {
  position: fixed;
  display: flexbox;
  color: white;
  top: 40px;
  left: 50px;
  width: auto;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  animation: fadeInSidebar 3s;
}

.sidebarHeader {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  margin-bottom: 40px;
}


.sideTitle {
  font-family: 'Fira Code', monospace;
  position:absolute;
  color: rgb(211, 240, 255);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: 
  3px -2px 1px rgb(139, 3, 3), 
  1px -1px 3px rgba(49, 255, 210, 0.5),
  50px 30px 2px rgb(26, 39, 44);
  animation: pulse ease 800ms  infinite;
  text-align: left;
  z-index: -1;

}


.work-Link {
  color: rgb(211, 240, 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;  
  pointer-events: all;
  user-select: none;
  z-index: 199;
  text-shadow: 
  2px -1px 1px rgb(94, 8, 8), 
  30px 10px 1px rgb(43, 18, 18);
  display: block;
  border: none;
  background: none;
  width:100%;
  cursor: pointer;
  outline: none;
  text-align: justify;
  letter-spacing: 0.2em;
  
}

.nav-link {
  color: rgb(211, 240, 255);
  border: none;
  background: none;
  width:100%;
  cursor: pointer;
  outline: none;
  text-align: justify;
  letter-spacing: 0.2em;
}

.subnav-WorkLink {
  color: rgb(211, 240, 255);
  
}

.work-Link:hover {
  color: #F7B300;
  transition: 0.3s ease;
}

.subnav-WorkLink:hover {
  color: #F7B300;
  transition: 0.3s ease;
}

.work-Link:active {
  color: rgb(255, 0, 0);
  transition: 0.2s; 
  pointer-events: all; 
  z-index: 199;
}

.subnav-WorkLink:active {
  color: rgb(255, 0, 0);
  transition: 0.2s; 
  pointer-events: all; 
  z-index: 199;
}

.subnav-item {
  width: auto;
  text-align: left;
}

.subnav-workMenu {
  display: none;
  text-indent: 50%;
  padding-top: 10px;
  white-space: nowrap;
}


.ohmLogoContainer {
  display: flex;
  align-items: center;
  min-height: 60vh;
  z-index: -1;
  margin-bottom: 0;
}

.ohmLogoImage {
  z-index: -1;
  position: absolute;
  min-width: 135px;
  max-height: 171px;
  scale: 150%;
  opacity: 50%;
}

@media only screen and (max-width: 800px) {
  .sidebar {
    top: 10px;
    width: 100%;
    left: 0px;
    height: auto;
    position: relative;
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 0px;
  
}


  .sidebarHeader {
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    margin-left: 0px;
  }

  .sideTitle {

    width: 200px;
  }

  .mainNavigation {
    margin-top: 40px;
    float: left;
}

.work-Link {
  text-align: center;
}

.nav-link {
  text-align: center;
}

.ohmLogoContainer {
  display: none;
}
}


@media only screen and (max-width: 1600px) { 
  .ohmLogoImage {
    padding-top: 20px;
    scale: 35vh;
  }
  }


@keyframes fadeInLogo {
  0% { opacity: 0; }
  100% { opacity: 0.5; }
}

@-moz-keyframes fadeInLogo {
  0% { opacity: 0; }
  100% { opacity: 0.5; }
}

@-webkit-keyframes fadeInLogo {
  0% { opacity: 0; }
  100% { opacity: 0.5; }
}

@-o-keyframes fadeInLogo {
  0% { opacity: 0; }
  100% { opacity: 0.5; }
}

@-ms-keyframes fadeInLogo {
  0% { opacity: 0; }
  100% { opacity: 0.5; } 
}

@keyframes fadeInSidebar {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeInSidebar {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeInSidebar {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeInSidebar {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeInSidebar {
  0% { opacity: 0; }
  100% { opacity: 1; } 
}


  span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }


  @keyframes pulse { 
    0%{ opacity:.9;transform: skewX(.5deg);}
    25%{ opacity:1;}
    50%{opacity:.9;}
    75%{ opacity:1; transform:skewX(.5deg);}
    100%{opacity:.9;}
  }